.persona__imagen--roberta {
    background: url(/Blog_Recetas/assets/img/personas/roberta.jpg);

}

.persona__imagen--marcela {
    background: url(/Blog_Recetas/assets/img/personas/marcela.jpg);

}

.persona__imagen--andrea {
    background: url(/Blog_Recetas/assets/img/personas/andrea.jpg);

}

/*Tener en cuenta el orden, colocar las propiedades de background despues de declararlo*/
.persona__imagen {
    background-position: center; background-repeat: no-repeat;background-size: cover;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}
